spring:
  application:
    name: order-service

  main:
    allow-bean-definition-overriding: true

  r2dbc:
    url: r2dbc:h2:mem:///testdb?options=DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password: 
  
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
  
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    connection-timeout: 5000

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.data.r2dbc: DEBUG
    io.r2dbc.h2: DEBUG
    org.springframework.amqp: DEBUG
